<div data-aos="fade-up-sm" class="md:col-6 lg:col-4">
  <div
    class="shadow-default group min-h-full overflow-hidden rounded-xl bg-white">
    <a
      href="blog-single.html"
      class="inline-block h-full max-h-[270px] w-full overflow-hidden">
      <img
        src="./images/articles/@@image"
        alt="@@title"
        class="h-full w-full object-cover transition-transform duration-300 group-hover:scale-105" />
    </a>
    <div class="px-5 pb-12">
      <div class="-mt-[30px] mb-3 flex items-center">
        <a
          href="author-single.html"
          class="relative z-20 overflow-hidden rounded-full border-[6px] border-white"
          title="@@author-name">
          <img
            src="./images/authors/@@author-image"
            class="h-[40px] w-[40px] object-cover"
            alt="@@author-name" />
        </a>
        <a
          href="author-single.html"
          class="relative z-10 -ml-3 rounded-r-3xl bg-theme-light py-1 pl-6 pr-3 font-primary text-[15px] capitalize text-dark transition-colors hover:text-opacity-70">
          @@author-name
        </a>
      </div>
      <h2
        class="mb-6 font-primary text-xl font-semibold capitalize text-dark sm:text-2xl">
        <a
          href="blog-single.html"
          class="link-animation relative after:absolute after:inset-0">
          @@title
        </a>
      </h2>
      <span
        class="rounded-md bg-theme-light px-3 py-1 text-[14px] font-semibold text-dark">
        @@date
      </span>
    </div>
  </div>
</div>
