<footer
  class="@@if (context.page === 'login' || context.page === 'sign-up' || context.page === '404') {hidden }relative z-20 bg-theme-dark after:absolute after:left-0 after:top-0 after:-z-10 after:h-[400px] after:w-full after:bg-[white] after:content-['']"
>
  <div class="container relative z-30">
    <div
      class="shadow-default relative z-20 overflow-hidden rounded-lg bg-white px-8 py-10 sm:px-14"
    >
      <div class="row items-center text-center sm:text-left">
        <div class="md:col-12 lg:col-7 xl:col-6">
          <h2
            data-aos="fade-up-sm"
            class="mb-6 font-secondary !leading-normal sm:text-[46px]"
          >
            Sign up and Create Your Online Store Today!
          </h2>
          <span
            class="inline-block align-middle text-[20px] font-bold text-dark"
            data-aos="fade-up-sm"
            data-aos-delay="50"
          >
            Supported
          </span>
          <ul
            class="mx-auto mt-2 flex w-fit flex-row gap-8 align-middle text-[28px] sm:ml-7 sm:mt-0 sm:inline-flex"
          >
            <li class="text-dark" data-aos="fade-up-sm" data-aos-delay="100">
              <a href="#?"><i class="fa-brands fa-windows"></i></a>
            </li>
            <li class="text-dark" data-aos="fade-up-sm" data-aos-delay="150">
              <a href="#?"><i class="fa-brands fa-dropbox"></i></a>
            </li>
            <li class="text-dark" data-aos="fade-up-sm" data-aos-delay="200">
              <a href="#?"><i class="fa-solid fa-hashtag"></i></a>
            </li>
            <li class="text-dark" data-aos="fade-up-sm" data-aos-delay="250">
              <a href="#?"><i class="fa-brands fa-android"></i></a>
            </li>
          </ul>
          <div
            class="mt-10 flex flex-wrap justify-center gap-x-8 gap-y-4 sm:justify-start sm:gap-8"
            data-aos="fade-up-sm"
            data-aos-delay="50"
          >
            <a href="contact.html" class="btn btn-primary btn-md">
              Get A Quote
            </a>
            <a href="sign-up.html" class="btn btn-outline-primary btn-md">
              Start Now
            </a>
          </div>
        </div>
        <!-- End Call To Action Content -->
        <div class="hidden lg:col-5 xl:col-6 lg:block">
          <div class="cta-clip-path relative" data-aos="fade-right-md">
            <img
              src="./images/cta-image.png"
              class="mx-auto block"
              alt="banner image"
            />
          </div>
        </div>
        <!-- End Call To Action Image -->
      </div>

      <!-- Start CTA BG SHAPES -->
      <div
        data-aos="fade-left-sm"
        class="pointer-events-none absolute left-[-65px] top-0 -z-10 select-none sm:left-0"
      >
        <img
          class="text-secondary"
          data-src="./images/shapes/cta-s-1.svg"
          alt="shape"
        />
      </div>
      <div
        data-aos="fade-right-sm"
        class="pointer-events-none absolute bottom-[40px] right-[-90px] -z-10 select-none xl:right-[-60px]"
      >
        <img
          class="text-secondary"
          data-src="./images/shapes/cta-s-2.svg"
          alt="shape"
        />
      </div>
      <div
        class="pointer-events-none absolute bottom-[-120px] left-1/2 -z-10 -translate-x-1/2 select-none sm:bottom-[-90px]"
      >
        <img
          class="text-quaternary"
          data-aos="fade-up-sm"
          data-src="./images/shapes/cta-s-3.svg"
          alt="shape"
        />
      </div>
    </div>
    <!-- End CTA BG SHAPES -->
  </div>
  <!-- End Call To Action -->

  <div
    data-aos="fade-in"
    data-aos-delay="50"
    class="container relative z-30 pt-[80px] lg:pt-[130px]"
  >
    <div class="row items-center justify-center pb-10 lg:justify-between">
      <div class="col-auto">
        <a href="index.html">
          <img src="images/logo-light.png" alt="spydea" />
        </a>
      </div>
      <!-- End Site Logo -->
      <div class="pt-10 lg:col-6 lg:pt-0">
        <form
          class="mx-auto flex w-full max-w-[600px] flex-col justify-between rounded-md bg-white p-[6px] sm:flex-row lg:ml-auto lg:mr-0 lg:max-w-full"
        >
          <input
            type="search"
            class="w-full border-0 bg-transparent p-4 pl-6 text-center text-lg placeholder:text-neutral-400 focus:border-0 focus:ring-0 sm:text-left md:text-base"
            placeholder="Enter Your Email Address"
          />
          <button type="submit" class="btn btn-primary btn-md">
            Get A Quote
          </button>
        </form>
      </div>
      <!-- End Newletter -->
    </div>
    <!-- End Footer First Row -->

    <hr
      class="h-[1px] border-0 border-b border-light/20 border-opacity-30 bg-transparent"
    />

    <div class="row gy-5 py-7 text-center lg:g-4 sm:py-14 sm:text-left">
      <div class="sm:col-6 md:col-4 lg:col-3 xl:col-3">
        <div class="widget lg:pl-16">
          <h3 class="widget-title">Company</h3>
          <ul class="widget-content">
            <li><a href="about.html">About us</a></li>
            <li><a href="contact.html">Contact us</a></li>
            <li><a href="pricing.html">Pricing</a></li>
          </ul>
        </div>
      </div>
      <!-- End Footer Widget -->
      <div class="sm:col-6 md:col-4 lg:col-2 xl:col-2">
        <div class="widget pl-0">
          <h3 class="widget-title">Resources</h3>
          <ul class="widget-content">
            <li><a href="blog.html">Blog</a></li>
            <li><a href="career.html">Career</a></li>
            <li><a href="terms-conditions.html">Terms & Conditions</a></li>
          </ul>
        </div>
      </div>
      <!-- End Footer Widget -->
      <div class="sm:col-6 md:col-4 lg:col-4 xl:col-3">
        <div class="widget lg:pl-8">
          <h3 class="widget-title">Email US</h3>
          <div
            class="mx-auto -mt-1 mb-4 w-fit text-[22px] font-bold text-amber-400 transition-all duration-300 hover:underline hover:underline-offset-4 sm:mx-0"
          >
            <a href="mailto:hello@themefisher.com">hello@themefisher.com</a>
          </div>
          <ul class="social-icons justify-center sm:justify-start">
            <li>
              <a href="https://facebook.com" target="_blank">
                <span class="sr-only">facebook</span>
                <i class="fa-brands fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="https://skype.com" target="_blank">
                <span class="sr-only">skype</span>
                <i class="fa-brands fa-skype"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com" target="_blank">
                <span class="sr-only">twitter</span>
                <i class="fa-brands fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://linkedin.com" target="_blank">
                <span class="sr-only">linkedin</span>
                <i class="fa-brands fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
          <!-- End Social Icons -->
        </div>
      </div>
      <!-- End Footer Widget -->
      <div class="sm:col-6 md:col-6 lg:col-3 xl:col-3">
        <div class="xl:pl-16">
          <h3 class="widget-title">Contact US</h3>
          <div
            class="mx-auto -mt-1 w-fit text-[22px] font-bold text-amber-400 transition-all duration-300 hover:underline hover:underline-offset-4 sm:mx-0"
          >
            <a href="tel:+94746-388817">+94746-388817</a>
          </div>
        </div>
      </div>
      <!-- End Footer Widget -->
    </div>
    <!-- End Footer First Row -->

    <hr
      class="h-[1px] border-0 border-b border-light/20 border-opacity-30 bg-transparent"
    />
    <p class="copyright">
      © 2023 Design and Developed by
      <a href="https://themefisher.com" target="_blank">Themefisher</a>
    </p>
    <!-- End Copyright  -->
  </div>
  <!-- End Main Content -->

  <div
    class="line-bg absolute left-0 top-1/2 flex h-full w-full -translate-y-1/2 justify-between"
  >
    <div class="container flex justify-between">
      <span
        class="bg-line-dark inline-block h-full opacity-50 md:opacity-100"
      ></span>
      <span
        class="bg-line-dark inline-block h-full opacity-50 md:opacity-100"
      ></span>
      <span
        class="bg-line-dark inline-block h-full opacity-50 md:opacity-100"
      ></span>
      <span
        class="bg-line-dark inline-block h-full opacity-50 md:opacity-100"
      ></span>
      <span
        class="bg-line-dark inline-block h-full opacity-50 md:opacity-100"
      ></span>
      <span
        class="bg-line-dark inline-block h-full opacity-50 md:opacity-100"
      ></span>
    </div>
  </div>
  <!-- End background lines -->

  <div class="absolute bottom-0 left-0 -z-10 h-full w-full">
    <div
      class="pointer-events-none absolute right-0 top-[35%] hidden select-none lg:block"
    >
      <img
        class="text-quaternary"
        data-src="./images/shapes/footer-s-1.svg"
        alt="shape"
      />
    </div>
    <div
      class="pointer-events-none absolute bottom-0 hidden select-none lg:block min-[1024px]:left-[-6%] min-[1400px]:left-0"
    >
      <img
        class="text-quinary"
        data-src="./images/shapes/footer-s-2.svg"
        alt="shape"
      />
    </div>
    <div
      class="pointer-events-none absolute bottom-0 right-0 hidden select-none lg:block"
    >
      <img
        class="text-secondary"
        data-src="./images/shapes/footer-s-3.svg"
        alt="shape"
      />
    </div>
  </div>
  <!-- End background Lines -->
</footer>
<!-- End Main Footer -->

<footer
  class="@@if (context.page === '404') {!block }hidden footer-alt relative z-30 bg-theme-dark after:absolute after:left-0 after:top-0 after:z-20 after:h-[400px] after:w-full after:bg-[white] after:content-['']"
>
  <div
    data-aos="fade-in"
    data-aos-delay="50"
    class="container relative z-40 pt-28 md:pt-40"
  >
    <div class="row items-center justify-center pb-10 lg:justify-between">
      <div class="col-auto">
        <a href="index.html">
          <img src="images/logo-light.png" alt="spydea" />
        </a>
      </div>
      <!-- End Site Logo -->
      <div class="pt-10 lg:col-6 lg:pt-0">
        <form
          class="mx-auto flex w-full max-w-[600px] flex-col justify-between rounded-md bg-white p-[6px] sm:flex-row lg:ml-auto lg:mr-0 lg:max-w-full"
        >
          <input
            type="search"
            class="w-full border-0 bg-transparent p-4 pl-6 text-center text-lg placeholder:text-neutral-400 focus:border-0 focus:ring-0 sm:text-left md:text-base"
            placeholder="Enter Your Email Address"
          />
          <button type="submit" class="btn btn-primary btn-md">
            Get A Quote
          </button>
        </form>
      </div>
      <!-- End Newsletter -->
    </div>
    <!-- End Footer First Row -->
    <hr
      class="h-[1px] border-0 border-b border-light/20 border-opacity-30 bg-transparent"
    />

    <div class="row gy-5 py-7 text-center lg:g-4 sm:py-14 sm:text-left">
      <div class="sm:col-6 md:col-4 lg:col-3 xl:col-3">
        <div class="widget lg:pl-16">
          <h3 class="widget-title">Company</h3>
          <ul class="widget-content">
            <li><a href="about.html">About us</a></li>
            <li><a href="contact.html">Contact us</a></li>
            <li><a href="pricing.html">Pricing</a></li>
          </ul>
        </div>
      </div>
      <!-- End Footer Widget -->
      <div class="sm:col-6 md:col-4 lg:col-2 xl:col-2">
        <div class="widget pl-0">
          <h3 class="widget-title">Resources</h3>
          <ul class="widget-content">
            <li><a href="blog.html">Blog</a></li>
            <li><a href="career.html">Career</a></li>
            <li><a href="terms-conditions.html">Terms & Conditions</a></li>
          </ul>
        </div>
      </div>
      <!-- End Footer Widget -->
      <div class="sm:col-6 md:col-4 lg:col-4 xl:col-3">
        <div class="widget lg:pl-8">
          <h3 class="widget-title">Email US</h3>
          <div
            class="mx-auto -mt-1 mb-4 w-fit text-[22px] font-bold text-amber-400 transition-all duration-300 hover:underline hover:underline-offset-4 sm:mx-0"
          >
            <a href="mailto:hello@themefisher.com">hello@themefisher.com</a>
          </div>
          <ul class="social-icons justify-center sm:justify-start">
            <li>
              <a href="https://facebook.com" target="_blank">
                <span class="sr-only">facebook</span>
                <i class="fa-brands fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="https://skype.com" target="_blank">
                <span class="sr-only">skype</span>
                <i class="fa-brands fa-skype"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com" target="_blank">
                <span class="sr-only">twitter</span>
                <i class="fa-brands fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://linkedin.com" target="_blank">
                <span class="sr-only">linkedin</span>
                <i class="fa-brands fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- End Footer Widget -->
      <div class="sm:col-6 md:col-6 lg:col-3 xl:col-3">
        <div class="text-white xl:pl-16">
          <h3 class="widget-title">Contact US</h3>
          <div
            class="mx-auto -mt-1 w-fit text-[22px] font-bold text-amber-400 transition-all duration-300 hover:underline hover:underline-offset-4 sm:mx-0"
          >
            <a href="tel:+94746-388817">+94746-388817</a>
          </div>
        </div>
      </div>
      <!-- End Footer Widget -->
    </div>
    <!-- End Footer First Row -->

    <hr
      class="h-[1px] border-0 border-b border-light/20 border-opacity-30 bg-transparent"
    />
    <div class="copyright">
      <span>
        © 2023 Design and Developed by
        <a href="https://themefisher.com" target="_blank">Themefisher</a>
      </span>
    </div>
    <!-- End Copyright  -->
  </div>
  <!-- End Main Content -->

  <div
    class="line-bg absolute left-0 top-1/2 z-10 flex h-full w-full -translate-y-1/2 justify-between"
  >
    <div class="container flex justify-between">
      <span
        class="bg-line-dark inline-block h-full opacity-50 md:opacity-100"
      ></span>
      <span
        class="bg-line-dark inline-block h-full opacity-50 md:opacity-100"
      ></span>
      <span
        class="bg-line-dark inline-block h-full opacity-50 md:opacity-100"
      ></span>
      <span
        class="bg-line-dark inline-block h-full opacity-50 md:opacity-100"
      ></span>
      <span
        class="bg-line-dark inline-block h-full opacity-50 md:opacity-100"
      ></span>
      <span
        class="bg-line-dark inline-block h-full opacity-50 md:opacity-100"
      ></span>
    </div>
  </div>
  <!-- End background lines -->

  <div class="absolute bottom-0 left-0 -z-10 h-full w-full">
    <div
      class="pointer-events-none absolute right-0 top-[20%] hidden select-none lg:block"
    >
      <img
        class="text-quaternary"
        data-src="./images/shapes/footer-s-1.svg"
        alt="shape"
      />
    </div>
    <div
      class="pointer-events-none absolute bottom-0 hidden select-none lg:block min-[1024px]:left-[-6%] min-[1400px]:left-0"
    >
      <img
        class="text-quinary"
        data-src="./images/shapes/footer-s-2.svg"
        alt="shape"
      />
    </div>
    <div
      class="pointer-events-none absolute bottom-0 right-0 hidden select-none lg:block"
    >
      <img
        class="text-secondary"
        data-src="./images/shapes/footer-s-3.svg"
        alt="shape"
      />
    </div>
  </div>
  <!-- End background Lines -->
</footer>
<!-- End 404 Page Footer -->

<!-- Plugins Script -->
<script src="plugins/aos/aos.js"></script>
<script src="plugins/inline-svg/inline-svg.min.js"></script>

<!-- Main Script -->
<script src="scripts/main.js"></script>
